table,
th,
td {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    empty-cells: show;
    overflow-x: auto;
    padding-top: 100px;
    margin-top: 100px;
}

caption {
    caption-side: bottom;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}